fn conf_enable_wiki {
    enable_wiki=yes
    wiki_editors_groups=$* 
    conf_enable_app dirdir
}

fn dirdir_init {
    if(! ~ $#enable_wiki 0) {
        lp=$local_path
        dirdir_file=$lp.html
        dirdir_dir=$dirdir_file^'_werc/dirdir/'
        if(! ~ '' $"post_arg_name $"post_arg_type $"post_arg_year0 $"post_arg_year1 $"post_arg_school $"post_arg_teacher)
            save_page
    }
}

fn save_page {
    user=$logged_user
    name=$post_arg_name
    name_filtered=`{echo $post_arg_name | sed 's,[^A-Za-z0-9],_,g; s,__*,_,g'}
    type=$post_arg_type
    type_filtered=`{echo $type | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
    year0=$post_arg_year0
    year0_filtered=`{echo $year0 | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
    year1=$post_arg_year1
    year1_filtered=`{echo $year1 | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
    school=$post_arg_school
    school_filtered=`{echo $school | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
    teacher=$post_arg_teacher
    teacher_filtered=`{echo $teacher | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}

    lp=`{echo $local_path | sed 's/index$//'}^$name_filtered
    dirdir_file=$lp.html
    if(! test -f $dirdir_file && ~ `{echo $dirdir_file | tr -dc '/' | wc -c} 3) {
        dirdir_dir=$dirdir_file^'_werc/dirdir/'
        dirdir_verdir=$dirdir_dir/^`{date -n}^/
        mkdir -p $dirdir_verdir
        umask 002

        echo $user > $dirdir_verdir/author
        echo $name > $dirdir_verdir/name
        echo $type > $dirdir_verdir/type
        echo $name_filtered >> $sitedir/_werc/search/type/$type_filtered
        echo $year0 > $dirdir_verdir/year0
        echo $name_filtered >> $sitedir/_werc/search/year0/$year0_filtered
        echo $year1 > $dirdir_verdir/year1
        echo $name_filtered >> $sitedir/_werc/search/year1/$year1_filtered
        echo $school > $dirdir_verdir/school
        echo $name_filtered >> $sitedir/_werc/search/school/$school_filtered
        echo $teacher > $dirdir_verdir/teacher
        echo $name_filtered >> $sitedir/_werc/search/teacher/$teacher_filtered
        if(! ~ '' $"post_arg_tags) {
            mkdir $dirdir_verdir/tags
            tags=`{echo $post_arg_tags | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
            for(i in $tags) {
                touch $dirdir_verdir/tags/$i
                echo $name_filtered >> $sitedir/_werc/search/tag/$i
            }
        }

        echo '<h2><a href="/courses/'$name_filtered^'">'$name'</a></h2>' > $dirdir_verdir/data

        // sorry
        echo '<span class="inblock"><i class="material-icons">list</i><ul>' >> $dirdir_verdir/data
        echo '<li><form action="/search" method="post"><input type="hidden" name="type" value="year0"></input><input type="hidden" name="value" value="'$year0_filtered'"></input><input type="submit" value="'$year0' Courses" class="fakelink"></input></form></li>' >> $dirdir_verdir/data
        echo '<li><form action="/search" method="post"><input type="hidden" name="type" value="year1"></input><input type="hidden" name="value" value="'$year1_filtered'"></input><input type="submit" value="'$year1' Courses" class="fakelink"></input></form></li>' >> $dirdir_verdir/data
        echo '<li><form action="/search" method="post"><input type="hidden" name="type" value="type"></input><input type="hidden" name="value" value="'$type_filtered'"></input><input type="submit" value="'$type' Courses" class="fakelink"></input></form></li>' >> $dirdir_verdir/data
        echo '<li><form action="/search" method="post"><input type="hidden" name="type" value="school"></input><input type="hidden" name="value" value="'$school_filtered'"></input><input type="submit" value="'$school' Courses" class="fakelink"></input></form></li>' >> $dirdir_verdir/data
        echo '<li><form action="/search" method="post"><input type="hidden" name="type" value="teacher"></input><input type="hidden" name="value" value="'$teacher_filtered'"></input><input type="submit" value="'$teacher' Courses" class="fakelink"></input></form></li>' >> $dirdir_verdir/data
        echo '</ul></span>' >> $dirdir_verdir/data

        echo '<span class="inblock"><a href="/user/'$user'"><img class="avatar" src="https://secure.gravatar.com/avatar/'`{cat etc/users/$user/email | tr -d $NEW_LINE | md5sum}'" />'$user'</a></span>' >> $dirdir_verdir/data

        echo '<span class="inblock"><i class="material-icons">schedule</i>' >> $dirdir_verdir/data
        echo `{date} >> $dirdir_verdir/data
        echo '</span><br />' >> $dirdir_verdir/data

        if(! ~ '' $"post_arg_tags) {
            tags=`{echo $post_arg_tags | sed 's/ /_/g; s/,/ /g; s/ _/ /g'}
            for(i in $tags) {
                echo '<div class="chip"><form action="/search" method="post"><input type="hidden" name="type" value="tag"></input><input type="hidden" name="value" value="'$i'"></input><input type="submit" value="'$i'" class="fakelink"></input></form></div>' >> $dirdir_verdir/data
            }
        }

        echo '<br /><br /><div class="addthis_sharing_toolbox"></div>' >> $dirdir_verdir/data

        echo >> $dirdir_verdir/data

        cp $dirdir_verdir/data $dirdir_file

        # make index find courses without comments
        mkdir -p $lp^_werc/

        post_redirect $base_url^$req_path^$name_filtered
        #notify_notes='Posted <a href="'$"req_path'">'$"req_path'</a>!'
    }
}
